# yarn
# See https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored.
.pnp.*
.yarnclean
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# npm packages
node_modules

build
build-test
dist
reports
*.log
package-lock.json
lib
lib-test
.idea
